@charset "utf-8";
@media screen and (min-width: 424px) {
  html {
    font-size: 56.53333333px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 64px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 72px;
  }
}
@media screen and (min-width: 640px) {
  html {
    font-size: 85.33333333px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 96px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 100px;
  }
}
.hwj_section .container .row .hwj_section_right {
  padding: 0 15px;
  background-color: #fff !important;
  overflow: hidden;
}
.hwj_section .container .row .hwj_section_right .carousel {
  margin-bottom: 5px;
  padding: 0 15px;
  background-color: #fff !important;
}
.hwj_section .container .row .hwj_section_right .carousel .carousel-inner {
  background-color: #fff !important;
}
.hwj_section .container .row .hwj_section_right .carousel .carousel-inner a {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
  display: block;
}
.hwj_section .container .row .hwj_section_right .carousel > a {
  margin-left: 15px;
  margin-right: 15px;
  width: 50px !important;
}
.hwj_section .container .row .hwj_section_right .hwj_sRow1_1 {
  padding: 0 15px;
}
.hwj_section .container .row .hwj_section_right .hwj_sRow1_1 .hwj_sRom_romance {
  margin-top: -5px;
}
.hwj_section .container .row .hwj_section_right .hwj_sRow1_1 .hwj_sRom_romance > div {
  margin-top: 10px;
}
.hwj_section .container .row .hwj_section_right .hwj_sRow1_1 .hwj_sRom_romance > div.hwj_sSpan_1 {
  margin-left: -15px;
}
.hwj_section .container .row .hwj_section_right .hwj_sRow1_1 .hwj_sRom_romance > div.hwj_sSpan_1 span {
  padding: 8px;
  border: 1px solid #ccc;
}
.hwj_section .container .row .hwj_section_right .hwj_sRow1_1 .hwj_sRom_romance > div.hwj_sSpan_1 span:first-of-type {
  color: #E62162;
}
.hwj_section .container .row .hwj_section_right .hwj_sRow1_1 .hwj_sRom_romance > div.hwj_sSpan_1 span:last-of-type {
  border: none;
}
.hwj_section .container .row .hwj_section_right .hwj_sRow1_1 .hwj_sRom_romance > div.hwj_sSpan_2 {
  font-size: 14px;
}
.hwj_section .container .row .hwj_section_right .hwj_sRow1_1 .hwj_sRom_romance > div.hwj_sSpan_2 span:first-of-type {
  display: inline-block;
  padding: 6px 0;
  margin-right: 15px;
}
.hwj_section .container .row .hwj_section_right .hwj_sRow1_1 .hwj_sRom_romance > div.hwj_sSpan_2 span select {
  padding: 5px 0;
}
.hwj_section .container .row .hwj_section_right .hwj_section_main {
  margin-top: 25px;
}
.hwj_section .container .row .hwj_section_right .hwj_section_main .hwj_sMain_product > li {
  margin-bottom: 25px;
}
.hwj_section .container .row .hwj_section_right .hwj_section_main .hwj_sMain_product > li .hwj_sMain_inner {
  border: 1px solid #ccc;
  margin-left: -15px;
  width: 269px;
  height: 403px;
  overflow: hidden;
  position: relative;
}
.hwj_section .container .row .hwj_section_right .hwj_section_main .hwj_sMain_product > li .hwj_sMain_inner .hwj_sMain1-1 {
  width: 267px;
  height: 267px;
  overflow: hidden;
  position: relative;
}
.hwj_section .container .row .hwj_section_right .hwj_section_main .hwj_sMain_product > li .hwj_sMain_inner .hwj_sMain1-1 a {
  width: 100%;
  height: 100%;
}
.hwj_section .container .row .hwj_section_right .hwj_section_main .hwj_sMain_product > li .hwj_sMain_inner .hwj_sMain1-1 a img {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1.5s ease;
}
.hwj_section .container .row .hwj_section_right .hwj_section_main .hwj_sMain_product > li .hwj_sMain_inner .hwj_sMain1-1 .hwj_sMain_outer {
  display: none;
  z-index: 9;
  overflow: hidden;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1.5s ease;
  background: rgba(255, 255, 255, 0.4);
}
.hwj_section .container .row .hwj_section_right .hwj_section_main .hwj_sMain_product > li .hwj_sMain_inner .hwj_sMain1-1 .hwj_sMain_outer ul li {
  position: absolute;
  float: left;
  top: 50%;
  transform: translateY(-50%);
}
.hwj_section .container .row .hwj_section_right .hwj_section_main .hwj_sMain_product > li .hwj_sMain_inner .hwj_sMain1-1 .hwj_sMain_outer ul li a {
  padding: 10px 12px;
  background-color: purple;
  color: #fff;
  margin: 0 20px;
  font-size: 16px;
}
.hwj_section .container .row .hwj_section_right .hwj_section_main .hwj_sMain_product > li .hwj_sMain_inner .hwj_sMain1-1 .hwj_sMain_outer ul li a:hover {
  color: #fff !important;
}
.hwj_section .container .row .hwj_section_right .hwj_section_main .hwj_sMain_product > li .hwj_sMain_inner .hwj_sMain1-1 .hwj_sMain_outer ul li:first-of-type {
  left: 45px;
}
.hwj_section .container .row .hwj_section_right .hwj_section_main .hwj_sMain_product > li .hwj_sMain_inner .hwj_sMain1-1 .hwj_sMain_outer ul li:nth-child(2) {
  left: 95px;
}
.hwj_section .container .row .hwj_section_right .hwj_section_main .hwj_sMain_product > li .hwj_sMain_inner .hwj_sMain1-1 .hwj_sMain_outer ul li:last-of-type {
  left: 145px;
}
.hwj_section .container .row .hwj_section_right .hwj_section_main .hwj_sMain_product > li .hwj_sMain_inner .hwj_sMain1-2 {
  position: relative;
  text-align: center;
  font-weight: 600;
}
.hwj_section .container .row .hwj_section_right .hwj_section_main .hwj_sMain_product > li .hwj_sMain_inner .hwj_sMain1-2 a {
  font-size: 15px;
}
.hwj_section .container .row .hwj_section_right .hwj_section_main .hwj_sMain_product > li .hwj_sMain_inner .hwj_sMain1-2 > span {
  display: block;
  font-size: 15px;
  color: #E62162;
  font-weight: 700;
}
.hwj_section .container .row .hwj_section_right .hwj_section_main .hwj_sMain_product > li .hwj_sMain_inner .hwj_sMain1-2 button {
  margin-top: 7px;
  padding: 5px 6px ;
  font-size: 13px;
  background-color: #fff;
  border: 1px solid #ccc;
}
.hwj_section .container .row .hwj_section_left {
  margin-left: -15px;
}
.hwj_section .container .row .hwj_section_left .hwj_section_partCommon {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  margin: 0 0 25px 0;
}
.hwj_section .container .row .hwj_section_left .hwj_section_partCommon .hwj_sPart1_common p {
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 18px 12px;
}
.hwj_section .container .row .hwj_section_left .hwj_section_partCommon .hwj_sPart1_common ul {
  background-color: #fff;
  padding: 10px 15px 10px;
  margin: -10px 0 0 0;
  color: #515151;
}
.hwj_section .container .row .hwj_section_left .hwj_section_partCommon .hwj_sPart1_common ul li {
  padding: 6px 0 7px 0;
}
.hwj_section .container .row .hwj_section_left .hwj_section_partCommon .hwj_sPart1_common ul li dd {
  margin: 2px 0;
}
.hwj_section .container .row .hwj_section_left .hwj_section_partCommon .hwj_sPart1_common ul li dd span {
  color: #A7A3A4;
  font-size: 8px;
}
.hwj_section .container .row .hwj_section_left .hwj_section_partCommon .hwj_sPart1_common ul li dd a {
  color: #7c7c7c;
  font-size: 12px;
  font-weight: 600;
}
.hwj_section .container .row .hwj_section_left .hwj_section_partCommon .hwj_sPart1_common ul li input {
  width: 11px;
  height: 11px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #dfdfdf;
}
.hwj_section .container .row .hwj_section_left .hwj_section_partCommon .hwj_sPart1_common ul li h5 {
  font-size: 13px ;
}
.hwj_section .container .row .hwj_section_left .hwj_section_partCommon .hwj_sPart1_common ul li button {
  font-size: 12px;
  font-weight: 600;
  padding: 8px 15px;
  border: 1px solid #ccc;
  background-color: #fff;
}
.hwj_section .container .row .hwj_section_left .hwj_section_partCommon .hwj_sPart2_1 input {
  background-color: #fafafa !important;
}
.hwj_section .container .row .hwj_section_left .hwj_section_partCommon .hwj_sPart3_1 li {
  padding: 3px 0 !important;
}
.hwj_section .container .row .hwj_section_left .hwj_section_partCommon .hwj_sPart3_1 li:nth-child(3) {
  padding: 0 !important;
  border-bottom: 1px solid #cacaca;
}
.hwj_section .container .row .hwj_section_left .hwj_section_partCommon .hwj_sPart3_1 li:nth-child(3) h5 {
  font-size: 12px !important;
}
.hwj_section .container .row .hwj_section_left .hwj_section_partCommon .hwj_sPart3_1 li:last-of-type {
  border: none !important;
}
.hwj_section .container .row .hwj_section_left .hwj_section_partCommon .hwj_sPart3_1 .hwj_img_pic {
  margin-top: 10px;
  padding-bottom: 10px !important;
  border-bottom: 1px solid #cacaca;
}
.hwj_section .container .row .hwj_section_left .hwj_section_partCommon .hwj_sPart3_1 .hwj_img_pic a {
  display: inline-block;
  margin-right: 10px ;
}
.hwj_section .container .row .hwj_section_left .hwj_section_partCommon .hwj_sPart3_1 .hwj_img_pic a img {
  width: 80px;
  border: 1px solid #ccc;
}
.hwj_section .container .row .hwj_section_left .hwj_section_partCommon .hwj_sPart3_1 .hwj_img_pic .hwj_section_Pimg {
  display: inline-block;
}
.hwj_section .container .row .hwj_section_left .hwj_section_partCommon .hwj_sPart3_1 .hwj_img_pic .hwj_section_Pimg span:last-of-type {
  float: right;
}
.hwj_section .container .row .hwj_section_left .hwj_section_partCommon .hwj_sPart3_1 .hwj_img_pic .hwj_section_Pimg a {
  display: block;
}
.hwj_section .container .row .hwj_section_left .hwj_section_partCommon .hwj_sPart4_1 ul li dd {
  padding: 3px 0;
}
.hwj_section .container .row .hwj_section_left .hwj_section_partCommon .hwj_sPart4_1 ul li dd span.glyphicon-remove {
  color: #444;
  float: right;
  font-size: 13px  !important;
  font-weight: 500 !important;
}
.hwj_section .container .row .hwj_section_left .hwj_section_partCommon .hwj_sPart4_1 ul li button:last-of-type {
  color: #fff;
  background-color: #E62162;
  border: 1px solid #E62162;
}
.hwj_section .container .row .hwj_section_left .hwj_section_partCommon .hwj_sPart7_1 ul li input {
  width: 13px !important;
  height: 13px !important;
  border-radius: 50% !important;
}
.hwj_section .container .row .hwj_section_left .hwj_section_partCommon .hwj_sPart8_1 ul li span {
  display: inline-block;
  margin-bottom: 8px;
}
.hwj_section .container .row .hwj_section_left .hwj_section_partCommon .hwj_sPart8_1 ul li span a {
  padding: 2px 6px;
  background-color: #f3f3f3;
}
.hwj_section .container .row .hwj_section_left .hwj_section_partCommon .hwj_sPart8_1 ul li:last-of-type {
  overflow: hidden;
}
.hwj_section .container .row .hwj_section_left .hwj_section_partCommon .hwj_sPart8_1 ul li:last-of-type a {
  float: right;
}
.hwj_section .container .row .hwj_section_left .hwj_sPart5_1 {
  margin-bottom: 25px;
  border: 1px solid #ccc;
  background-color: #fff !important;
}
.hwj_section .container .row .hwj_section_left .hwj_sPart5_1 .carousel {
  padding: 5px;
}
.hwj_section .container .row .hwj_section_left .hwj_sPart5_1 .carousel .carousel-inner {
  position: relative;
}
.hwj_section .container .row .hwj_section_left .hwj_sPart5_1 .carousel .carousel-inner a {
  position: relative;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 339px;
  display: block;
  overflow: hidden;
}
.hwj_section .container .row .hwj_section_left .hwj_sPart5_1 .carousel .carousel-inner a:hover {
  color: #A7A3A4;
}
.hwj_section .container .row .hwj_section_left .hwj_sPart5_1 .carousel .carousel-inner a .hwj_sItem_inner {
  position: absolute;
  height: 120px;
  color: #fff;
  text-align: center;
  margin-top: 50px;
}
.hwj_section .container .row .hwj_section_left .hwj_sPart5_1 .carousel .carousel-inner a .hwj_sItem_inner h2 {
  padding-left: 12px;
}
.hwj_section .container .row .hwj_section_left .hwj_sPart5_1 .carousel .carousel-inner a .hwj_sItem_inner p {
  font-size: 16px;
}
.hwj_section .container .row .hwj_section_left .hwj_sPart5_1 .carousel .carousel-inner a .hwj_sItem_inner button {
  margin-top: 25px;
  padding: 3px 6px;
  font-size: 12px;
  background-color: transparent;
  border: 1px solid #fff;
}
@media screen and (max-width: 1200px) {
  .hwj_sPart5_1 .carousel-inner a {
    height: 271px !important;
  }
  .hwj_sRom_romance .hwj_sSpan_2 {
    padding: 0 10px !important;
  }
  .hwj_sMain_inner {
    width: 217px !important;
    height: 333px !important;
  }
  .hwj_sMain_inner .hwj_sMain1-1 {
    width: 217px !important;
    height: 217px !important;
  }
}
@media screen and (max-width: 992px) {
  .hwj_sPart5_1 .carousel-inner a {
    height: 197px !important;
  }
  .hwj_sPart5_1 .carousel-inner a .hwj_sItem_inner {
    margin-top: 35px !important;
  }
  .hwj_sPart5_1 .carousel-inner a .hwj_sItem_inner button {
    margin-top: 5px !important;
  }
  .hwj_section .container .hwj_section_left {
    margin-left: 0px !important;
  }
  .hwj_sRom_romance .hwj_sSpan_2 {
    padding: 0  !important;
  }
  .hwj_sMain_inner {
    width: 254px !important;
    height: 373px !important;
  }
  .hwj_sMain_inner .hwj_sMain1-1 {
    width: 254px !important;
    height: 254px !important;
  }
}
@media screen and (max-width: 768px) {
  .hwj_sPart5_1 .carousel-inner a {
    height: 340px !important;
  }
  .hwj_sPart5_1 .carousel-inner a .hwj_sItem_inner {
    margin-top: 50px !important;
    padding-left: 110px !important;
  }
  .hwj_sPart5_1 .carousel-inner a .hwj_sItem_inner button {
    margin-top: 25px !important;
  }
  .hwj_section_right {
    margin-bottom: 25px;
  }
  .hwj_section .container .hwj_section_left {
    margin-left: 0px !important;
  }
  .hwj_sRom_romance .hwj_sSpan_2 select {
    width: 100% !important;
  }
  .hwj_sMain_inner {
    width: 313px !important;
    height: 429px !important;
  }
  .hwj_sMain_inner .hwj_sMain1-1 {
    width: 313px !important;
    height: 313px !important;
  }
}
@media screen and (max-width: 750px) {
  .hwj_sMain_inner {
    width: 3.2rem !important;
    height: 5rem !important;
  }
  .hwj_sMain_inner .hwj_sMain1-1 {
    width: 3.2rem !important;
    height: 3.2rem !important;
  }
  .hwj_sMain_outer ul > li:first-of-type {
    left: 0.2rem !important;
  }
  .hwj_sMain_outer ul > li:nth-child(2) {
    left: 1rem !important;
  }
  .hwj_sMain_outer ul > li:last-of-type {
    left: 1.8rem !important;
  }
  .hwj_sPart5_1 .carousel-inner a .hwj_sItem_inner {
    margin-top: 50px !important;
    padding-left: 0.7rem !important;
  }
}
@media screen and (max-width: 460px) {
  .hwj_sMain_inner {
    width: 410px !important;
    height: 515px !important;
  }
  .hwj_sMain_inner .hwj_sMain1-1 {
    width: 410px !important;
    height: 410px !important;
  }
  .hwj_sMain_outer ul > li:first-of-type {
    left: 1.8rem !important;
  }
  .hwj_sMain_outer ul > li:nth-child(2) {
    left: 2.7rem !important;
  }
  .hwj_sMain_outer ul > li:last-of-type {
    left: 3.6rem !important;
  }
}
